html
{
  background-color: #0D1117;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button
{
  cursor: pointer;
}

header {
  width: 100%;
  height: 100px;
  color: #F6F7EB;
  border-bottom: 1px solid #3C434D;
}

header, header button
{
  background-color: #010409;
}


header button
{
  font-size: 15px;
  color: white;
  border: none; 
}

#inicio 
{
    height: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;    
    padding-top: 10px;
}

.barraOpciones
{
  display: flex;
  align-items: center;
}

.barraOpciones input
{
  background-color: #010409;
}

#create, #create, #issues, #pullRequest, #notification, #opcionesInicio
{
  width: 32px;
  height: 32px;
  border: 1px solid #3D444D;
  border-radius: 5px;
  margin-left: 5px;
}
#minifoto img
{
  border-radius: 50%;
}
#inicio input
{
  width: 350px;
  height: 32px;
  border-radius: 5px;
}

.barra img
{
  padding-left: 10px;
  padding-right: 10px;
}

.barra
{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.barraNav
{
    width: 100%;
    height: 50%;
    padding-top: 20px;
    padding-left: 10px;
}

#cuerpoGitHub
{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  background-color: #0D1117;
}

.perfil
{
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 50px;
}

.biografia
{
  width: 260px;
  height: 100%;
}

.perfil img
{
  border-radius: 50%;
  border: 2px solid #3C434D;
}

.editPerfil
{
  width: 100%;
  background-color: #262C36;
  border-radius: 5px;
  border: 1px solid #3C434D;
  color: white;
  height: 30px;
}

.biografia h3
{ 
  position: relative;
  top : -20px; 
}

a
{
  text-decoration: none;
}

.biografia h3,a,button
{
  color: gray;
}

.pinned
{
  width: 100%;
  height: 500px;
  margin-left: 10px;
}

.titulo
{
  margin-left: 20px;
}

.ContenedorProyectos
{
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.ContenedorProyectos a
{
  color: #3E85E0;
}

ul
{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
li
{
  display: flex;
  border: 2px solid #3C434D;
  border-radius: 10px;
  width: 350px;
  height: 90px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.contenedorPrimerFila
{
  width: 800px;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.contenedorSegundaFila
{
  width: 800px;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.contenedorContribuciones
{
  width: 100%;
  height: 250px;
  margin-left: 20px;
}

.contenedorContribuciones table
{
  border: 2px solid #3C434D;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 80%;
  height: 50%;
}

.footer
{
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.footer a
{
  margin-left: 10px;
  font-size: smaller;
}

.footer img
{
  padding-right: 10px;
}